%h1 Classement général

- @games.each_with_index do |g, index|
	%h3
		%span.label.label-default=g.title
		%br
		%br
		%table.table
			%thead
				%tr
					%th
						Nom du joueur
					%th
						Score
					%th
						Gagnés
					%th 
						Perdus
					%th 
						Nuls
			%tbody
				- @tabG[index].each do |x|
					%tr
						%td=x[:name]
						%td=x[:score]
						%td=x[:w]
						%td=x[:l]
						%td=x[:n]