%h1 Classement général
- @games.each do |g|
	%h3
		%span.label.label-default=g.title
	- @tabG.each do |x|
		%table.table
			%thead
				%tr
					%th
						Nom du joueur
					%th
						Score
					%th
						Gagnés
					%th 
						Perdus
					%th 
						Nuls
			%tbody
				- x.each do |val|
					%tr
					- val.each do |res|
						%td=res