%table.table
	%thead
		%tr
			%th
				Nom du joueur
			%th
				Score total
	- @tournoi.users.each do |tu|
		%tbody
			%tr
				%td=tu.email
				%td=@tournoi.wars.where(user_1_id: tu.id).sum(:scoreJ1) + @tournoi.wars.where(user_2_id: tu.id).sum(:scoreJ2)